# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/demo-front/my-websocket-demo-app/dist
/demo-front/my-websocket-demo-app/tmp
/demo-front/my-websocket-demo-app/out-tsc
# Only exists if Bazel was run
/demo-front/my-websocket-demo-app/bazel-out

# dependencies
/demo-front/my-websocket-demo-app/node_modules

# profiling files
/demo-front/my-websocket-demo-app/chrome-profiler-events*.json

# IDEs and editors
/demo-front/my-websocket-demo-app/.idea
/demo-front/my-websocket-demo-app/.project
/demo-front/my-websocket-demo-app/.classpath
/demo-front/my-websocket-demo-app/.c9/
*.launch
/demo-front/my-websocket-demo-app/.settings/
*.sublime-workspace

# IDE - VSCode
/demo-front/my-websocket-demo-app/.vscode/*
!/demo-front/my-websocket-demo-app/.vscode/settings.json
!/demo-front/my-websocket-demo-app/.vscode/tasks.json
!/demo-front/my-websocket-demo-app/.vscode/launch.json
!/demo-front/my-websocket-demo-app/.vscode/extensions.json
/demo-front/my-websocket-demo-app/.history/*

# misc
/demo-front/my-websocket-demo-app/.angular/cache
/demo-front/my-websocket-demo-app/.sass-cache
/demo-front/my-websocket-demo-app/connect.lock
/demo-front/my-websocket-demo-app/coverage
/demo-front/my-websocket-demo-app/libpeerconnection.log
/demo-front/my-websocket-demo-app/npm-debug.log
/demo-front/my-websocket-demo-app/yarn-error.log
/demo-front/my-websocket-demo-app/testem.log
/demo-front/my-websocket-demo-app/typings

# System Files
/demo-front/my-websocket-demo-app/.DS_Store
/demo-front/my-websocket-demo-app/Thumbs.db

/demo-back/websocket-demo/HELP.md
/demo-back/websocket-demo/target/
!/demo-back/websocket-demo/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
/demo-back/websocket-demo/.apt_generated
/demo-back/websocket-demo/.classpath
/demo-back/websocket-demo/.factorypath
/demo-back/websocket-demo/.project
/demo-back/websocket-demo/.settings
/demo-back/websocket-demo/.springBeans
/demo-back/websocket-demo/.sts4-cache

### IntelliJ IDEA ###
/demo-back/websocket-demo/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/demo-back/websocket-demo//nbproject/private/
/demo-back/websocket-demo//nbbuild/
/demo-back/websocket-demo//dist/
/demo-back/websocket-demo//nbdist/
/demo-back/websocket-demo//.nb-gradle/
/demo-back/websocket-demo/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
/demo-back/websocket-demo/.vscode/
